<div class="container main-article-container">
  <div class="desktop-version">
    <div>
      <p class="article-path">
        Home > Lorem Ipsum is > <b>Lorem Ipsum is simply dummy</b>
      </p>
      <article class="article-content">
        <h2 class="article-title">Lorem Ipsum is simply dummy</h2>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum.
        </p>
      </article>
      <div class="similar-articles">
        <h3 class="similar-title">Similar articles</h3>
        <ul class="similar-list"></ul>
      </div>
    </div>
    <picture>
      <source
        srcset="./images/articles/ADS.png 1x, ./images/articles/ADS_2x.png 2x"
        media="(min-width: 768px)"
      />
      <img
        class="adv-img"
        src="./images/articles/ADS.png"
        alt="advertising"
        width="300"
      />
    </picture>
  </div>
</div>
