<footer class="footer-container footer-section">
  <div class="for-desk-position">
    <div class="company-info">
      <h3 class="company-name">LOGOTYPE</h3>
      <p class="company-content-title company-content">
        Lorem Ipsum is simply dummy
      </p>
      <p class="company-content">
        when an unknown printer took a galley of type and scrambled it to make a
        type specimen book. It has survived not only five
      </p>

      <ul class="footer-social-list">
        <li class="social-item">
          <a
            class="soc-link link"
            href="https://www.facebook.com/?locale=uk_UA"
            target="_blank"
          >
            <svg width="9.7" height="18.7" fill="#0DD0BA">
              <use href="images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a
            class="soc-link link"
            href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoidWsifQ%3D%3D%22%7D"
            target="_blank"
          >
            <svg width="17.7" height="14.4" fill="#0DD0BA">
              <use href="images/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a
            class="soc-link link"
            href="https://www.instagram.com/"
            target="_blank"
          >
            <svg width="17.9" height="17.9" fill="#0DD0BA">
              <use href="images/icons.svg#icon-insta"></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a
            class="soc-link link"
            href="https://www.youtube.com/"
            target="_blank"
          >
            <svg width="21.8" height="15.3" fill="#0DD0BA">
              <use href="images/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a
            class="soc-link link"
            href="https://www.google.com/"
            target="_blank"
          >
            <svg width="26.8" height="21.7" fill="#0DD0BA">
              <use href="images/icons.svg#icon-mail"></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a
            class="soc-link link"
            href="https://www.spotify.com/ua-uk/free/"
            target="_blank"
          >
            <svg width="17.9" height="17.9" fill="#0DD0BA">
              <use href="images/icons.svg#icon-wi-fi"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-add-info">
      <div class="footer-tablet-category">
        <h3>Guides and Tips</h3>
        <ul class="tablet-list footer-list"></ul>
      </div>
      <div class="footer-category category">
        <h3>Category</h3>
        <ul class="category-list footer-list"></ul>
      </div>
      <div class="footer-category game">
        <h3>Play better</h3>
        <ul class="play-better-list footer-list"></ul>
      </div>
      <div class="footer-category links">
        <h3>Useful links</h3>
        <ul class="useful-links-list footer-list"></ul>
      </div>
    </div>

    <p class="copyright">Copyright © 2024. Tous droits réservés.</p>
  </div>
</footer>
