<header>
  <div class="container header-container">
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="#" class="had-nav-link">
            <svg class="nav-icon" width="12.5" height="13" fill="#ffff">
              <use href="images/icons.svg#icon-phone"></use>
            </svg>
            Menu item 1
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="had-nav-link">
            <svg class="nav-icon" width="16.5" height="18" fill="#ffff">
              <use href="images/icons.svg#icon-pot"></use>
            </svg>
            Menu item 2
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="had-nav-link">
            <svg class="nav-icon" width="16.5" height="18" fill="#ffff">
              <use href="images/icons.svg#icon-android"></use>
            </svg>
            Menu item 3
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="had-nav-link">
            <svg class="nav-icon" width="16.5" height="18" fill="#ffff">
              <use href="images/icons.svg#icon-apple"></use>
            </svg>
            Menu item 4
          </a>
        </li>
      </ul>
    </nav>
    <div class="soc-and-theme">
      <ul class="social-list">
        <li class="social-item">
          <a href="https://www.facebook.com/?locale=uk_UA" target="_blank">
            <img
              srcset="images/facebook.png, images/facebook_2x.png 2x"
              src="images/facebook.png"
              alt="Facebook link"
              width="29"
              height="29"
            />
          </a>
        </li>
        <li class="social-item">
          <a
            href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoidWsifQ%3D%3D%22%7D"
            target="_blank"
          >
            <img
              srcset="images/twitter.png, images/twitter_2x.png 2x"
              src="images/twitter.png"
              alt="Twitter link"
              width="29"
              height="29"
          /></a>
        </li>
        <li class="social-item">
          <a href="https://www.instagram.com/" target="_blank">
            <img
              srcset="images/insta.png, images/insta_2x.png 2x"
              src="images/insta.png"
              alt="Instagram link"
              width="29"
              height="29"
          /></a>
        </li>
        <li class="social-item">
          <a href="https://www.youtube.com/" target="_blank">
            <img
              srcset="images/youtube.png, images/youtube_2x.png 2x"
              src="images/youtube.png"
              alt="Youtube link"
              width="29"
              height="29"
          /></a>
        </li>
        <li class="social-item">
          <a href="mailto: user@gmail.com" target="_blank">
            <img
              srcset="images/gmail.png, images/gmail_2x.png 2x"
              src="images/gmail.png"
              alt="Mail link"
              width="29"
              height="29"
          /></a>
        </li>
        <li class="social-item">
          <a href="https://www.spotify.com/ua-uk/free/" target="_blank">
            <img
              srcset="images/wi-fi.png, images/wi-fi_2x.png 2x"
              src="images/wi-fi.png"
              alt="Spotify link"
              width="29"
              height="29"
          /></a>
        </li>
      </ul>

      <div class="toggle-theme"></div>
    </div>
  </div>
</header>
