<header>
  <div class="container header-container">
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="#" class="had-nav-link">
            <svg class="nav-icon" width="12.5" height="13" fill="#ffff">
              <use href="images/icons.svg#icon-phone"></use>
            </svg>
            Menu item 1
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="had-nav-link">
            <svg class="nav-icon" width="16.5" height="18" fill="#ffff">
              <use href="images/icons.svg#icon-pot"></use>
            </svg>
            Menu item 2
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="had-nav-link">
            <svg class="nav-icon" width="16.5" height="18" fill="#ffff">
              <use href="images/icons.svg#icon-android"></use>
            </svg>
            Menu item 3
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="had-nav-link">
            <svg class="nav-icon" width="16.5" height="18" fill="#ffff">
              <use href="images/icons.svg#icon-apple"></use>
            </svg>
            Menu item 4
          </a>
        </li>
      </ul>
    </nav>
    <div class="soc-and-theme">
      <ul class="social-list">
        <li class="social-item">
          <a
            class="soc-link link"
            href="https://www.facebook.com/?locale=uk_UA"
            target="_blank"
            aria-label="Read more on our Facebook account"
          >
            <svg width="7.6" height="14.7" fill="#ffff">
              <use href="images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a
            class="soc-link link"
            href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoidWsifQ%3D%3D%22%7D"
            target="_blank"
            aria-label="Read more on our Twitter account"
          >
            <svg width="13.9" height="11.3" fill="#ffff">
              <use href="images/icons.svg#icon-twitter"></use></svg
          ></a>
        </li>
        <li class="social-item">
          <a
            class="soc-link link"
            href="https://www.instagram.com/"
            target="_blank"
            aria-label="Read more on our Instagram account"
          >
            <svg width="14" height="14" fill="#ffff">
              <use href="images/icons.svg#icon-insta"></use></svg
          ></a>
        </li>
        <li class="social-item">
          <a
            class="soc-link link"
            href="https://www.youtube.com/"
            target="_blank"
            aria-label="Read more on our Youtube account"
          >
            <svg width="17.1" height="12" fill="#ffff">
              <use href="images/icons.svg#icon-youtube"></use></svg
          ></a>
        </li>
        <li class="social-item">
          <a
            class="soc-link link"
            href="https://www.google.com/"
            target="_blank"
            aria-label="Use our email"
          >
            <svg width="21" height="17" fill="#ffff">
              <use href="images/icons.svg#icon-mail"></use></svg
          ></a>
        </li>
        <li class="social-item">
          <a
            class="soc-link link"
            href="https://www.spotify.com/ua-uk/free/"
            target="_blank"
            aria-label="Read more on our Spotify account"
          >
            <svg width="14" height="14" fill="#ffff">
              <use href="images/icons.svg#icon-wi-fi"></use></svg
          ></a>
        </li>
      </ul>

      <div class="toggle-theme"></div>
    </div>
  </div>
</header>
