.game-info {
  display: none;
}
.banner-btn-list {
  display: none;
}

.users-rating-info {
  display: none;
}
.rating-widget {
  display: none;
}
.banner {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  align-items: center;

  height: 129px;
  background-color: rgba(22, 28, 58, 0.8);
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url(../images/banner/div.png), url(../images/banner/banner_bg_phone.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  border-radius: 30px;

  box-sizing: content-box;
}

.banner-img {
  border-radius: 10px;
  width: 89px;
  display: block;
}

.banner-title {
  width: 206px;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: var(--white-color);
}

/* Menu */

.more-info-menu {
  margin-top: 15px;

  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: last baseline;

  height: 26px;
}

.more-info-list {
  margin-top: 13px;
}

.more-info-menu h2 {
  font-weight: 500;
  font-size: 18px;
  color: var(--more-info);
}

.more-info-item {
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.03em;
  text-align: center;
  background: var(--gradient-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  padding-bottom: 27px;
}

.current-link {
  position: relative;
}
.current-link:after {
  content: '';
  position: absolute;
  left: 47%;
  bottom: 38%;
  border-radius: 40px;
  width: 23px;
  height: 5px;
  background: var(--gradient-color);
}

.burger-icon {
  fill: var(--more-info);
}

.burger-icon {
  fill: var(--more-info);
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .banner {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.3) 100%
      ),
      url(../images/banner/div.png),
      url(../images/banner/banner_bg_phone_2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .banner {
    border-radius: 40px;
    height: 180px;

    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.3) 100%
      ),
      url(../images/banner/div.png), url(../images/banner/banner_bg_tabl.jpg);
  }

  .more-info-list .more-info-item:first-child {
    display: none;
  }

  .more-info-list .more-info-item:nth-child(2) {
    position: relative;
  }

  .more-info-list .more-info-item:nth-child(2):after {
    content: '';
    position: absolute;
    left: 48%;
    bottom: 38%;
    border-radius: 40px;
    width: 23px;
    height: 5px;
    background: var(gradient-color);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .banner {
      background-image: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.3) 100%
        ),
        url(../images/banner/div.png),
        url(../images/banner/banner_bg_tabl_2x.jpg);
    }
  }

  .banner-title {
    font-size: 35px;
    width: 518px;
  }

  .banner-img {
    width: 120px;
  }
}

@media screen and (min-width: 1440px) {
  .more-info-menu {
    display: none;
  }

  .banner-section {
    margin-bottom: 82px;
  }

  .game-info {
    display: block;
    box-sizing: border-box;
    position: absolute;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-top: 190px;
    padding-left: 51px;
    padding-right: 33px;
    border-radius: 40px;
    width: 1170px;
    height: 234px;
    box-shadow: 0 22px 59px 0 rgba(42, 134, 229, 0.07);
  }
  .info-note {
    border-radius: 17px;
  }

  .banner {
    justify-content: start;
    padding-left: 56px;
    gap: 25px;
    height: 190px;
    position: relative;
    top: 0;

    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.3) 100%
      ),
      url(../images/banner/div.png), url(../images/banner/banner_bg_desk.jpg);
  }

  .vertical-line {
    opacity: 0.1;
    background: #333;
    width: 1px;
    height: 20px;
  }

  .info-list {
    display: flex;
    flex-direction: row;
    gap: 19px;
  }

  .info-item {
    font-size: 16px;
    line-height: 162%;
    text-align: center;
    color: var(--dark-grey);
  }

  .info-item a:visited {
    color: var(--dark-grey);
  }
  .banner-btn-list {
    margin-top: 16px;

    display: flex;
    align-items: center;
    gap: 8px;
  }

  .banner-button {
    border: 1px solid var(--white-color);
    background-color: none;
    border-radius: 17px;
    padding: 5px 16px 5px 13px;
    height: 28px;

    font-size: 14px;
    line-height: 129%;
    letter-spacing: 0.04em;
    color: var(--white-color);

    align-items: center;
  }

  .banner-button:hover,
  .banner-button:focus {
    border-color: #0dd0ba;
    color: #0dd0ba;
    transition: var(--transition-change);
  }

  .banner-button:hover .banner-icon,
  .banner-button:focus .banner-icon {
    border-color: #0dd0ba;
    fill: #0dd0ba;
    transition: var(--transition-change);
  }

  .banner-button-download {
    border-radius: 17px;
    padding: 5px 14px 5px 13px;
    height: 28px;
    background: var(--gradient-color);

    font-size: 14px;
    line-height: 129%;
    letter-spacing: 0.04em;
    color: var(--white-color);
  }

  .banner-button-download:hover,
  .banner-button-download:focus {
    background: var(--white-color);
    color: #2a86e5;
    transition: var(--transition-change);
  }

  .banner-button-download:hover .icon-download,
  .banner-button-download:focus .icon-download {
    fill: #2a86e5;
    transition: var(--transition-change);
  }

  .users-info {
    font-weight: 500;
    font-size: 16px;
    color: var(--white-color);
  }

  .info-title {
    font-weight: 800;
    font-size: 24px;
  }

  .users-info p:last-child {
    font-weight: 700;
  }

  /* vidget */

  .rating-widget {
    width: 269px;
    height: 224px;
    position: absolute;
    display: flex;
    flex-direction: column;

    top: 55;
    right: 33;
  }

  .users-rating-info {
    display: flex;
    flex-direction: row;
    gap: 12px;

    justify-content: center;
    margin-bottom: 54px;
  }

  .average-rating {
    font-size: 20px;
    color: #f9b936;
  }

  .rating-mark {
    border-radius: 17px;
    box-sizing: content-box;
    width: 269px;
    display: flex;
    flex-direction: row;
    align-items: center;

    cursor: pointer;

    font-weight: 700;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: 0.04em;
    text-align: center;

    background: var(--rating-bg);
  }
  .start-rating {
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
    padding-left: 10px;
    color: var(--text-content);

    border-right: 1px solid rgba(112, 112, 112, 0.15);

    width: 100%;
    height: 100%;

    padding-top: 10px;
    padding-bottom: 10px;

    text-align: center;
    align-items: center;
    box-sizing: border-box;
  }

  .start-rating:hover,
  .start-rating.active {
    color: #fff;
    background: #f9b936;
    border-right: 1px solid #fff;
  }

  .mark {
    color: var(--text-content);
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;

    box-sizing: border-box;

    border-right: 1px solid rgba(112, 112, 112, 0.15);
  }

  .rating-mark .mark:last-child {
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
    padding-right: 10px;
    border-right: none;
  }

  .mark:hover,
  .start-rating.hover {
    background: #f5ae20;
    color: #fff;
    border-right: 1px solid #fff;
  }

  .mark.hover {
    background: #f9b936;
    color: #fff;
    border-right: 1px solid #fff;
  }

  .circle-border {
    width: 86px;
    height: 85px;
    border-radius: 100%;

    position: relative;
    text-align: center;

    background: rgba(0, 0, 0, 0.44);
  }

  .circle {
    position: absolute;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 72px;
    height: 71px;
    border-radius: 100%;
    background-color: #0e1219;
  }

  .progress-number {
    align-content: center;

    font-weight: 900;
    font-size: 29px;
    line-height: 120%;
    color: #ebf6f5;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .banner {
      background-image: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.3) 100%
        ),
        url(../images/banner/div.png),
        url(../images/banner/banner_bg_desk_2x.jpg);
    }
  }
}
