:root {
  --white-color: #fff;

  --bg-color: #fff;
  --bg-article: #707070;

  --light-blue: #2a86e5;
  --dark-blue: #183a5d;
  --light-grey: #757575;
  --dark-grey: #707070;
  --light-green: #0dd0ba;

  --transition-change: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  --gradient-color: linear-gradient(90deg, #0dd0ba 0%, #2a86e5 100%);
}

.light {
  --bg-card: #fff;
  --footer-company: #0dd0ba;
  --footer-name: #111;
  --bg-menu: #fff;
  --bg-body: #fff;
  --bg-articles: #fff;

  --more-info: #707070;

  --text-content: #707070;

  --input-search: #eeeeee;
}

.dark {
  --footer-company: #fff;
  --footer-name: #fff;
  --bg-card: #202434;
  --bg-menu: #0e1219;
  --bg-body: #0e1219;
  --bg-articles: #0e1219;
  --more-info: #fff;

  --text-content: #fff;

  --input-search: #183a5d;
}
